
$nav-height: 38px; 

// COLORS //
$link-color: red;

$chevron-color: rgb(125, 255, 49);

$bg-nav-color: rgb(18, 31, 31);
$bg-main-color: darkslategrey;

$bg-error-color: mistyrose;
$bg-overlay-color: rgba(0, 0, 0, 0.3)
